<ion-scroll ng-controller="eight" zooming="true" direction="y" style=" height: 100%;" class="content has-footer has-header maincontent otherpage">
<div class="thirdforum">
	<div class="formInHead">
		<div>
			<img src="img/headimg.png" alt="头像">
		</div>
		<div class="forumName">
			<p>Jack</p>
			<p>5分钟前</p>
		</div>
		<div class="thirdPer">
			<p ng-click="addcolection()">关注</p>
		</div>
	</div>
	<p class="clear">
		一起去土耳其坐热气球吧！
	</p>
	<div class="thirdexpress">
		<img src="img/forum.png" alt="height:4.7rem" ui-sref="tripdetail">		
	</div>	
</div>
<div class="thirdforum">
	<div class="formInHead">
		<div>
			<img src="img/headimg.png" alt="头像">
		</div>
		<div class="forumName">
			<p>Jack</p>
			<p>5分钟前</p>
		</div>
		<div class="thirdPer">
			<p ng-click="addcolection()">关注</p>
		</div>
	</div>
	<p class="clear">
		一起去土耳其坐热气球吧！
	</p>
	<div class="thirdexpress">
		<img src="img/forum.png" alt="height:4.7rem" ui-sref="tripdetail">		
	</div>	
</div>
<div class="thirdforum">
	<div class="formInHead">
		<div>
			<img src="img/headimg.png" alt="头像">
		</div>
		<div class="forumName">
			<p>Jack</p>
			<p>5分钟前</p>
		</div>
		<div class="thirdPer">
			<p ng-click="addcolection()">关注</p>
		</div>
	</div>
	<p class="clear">
		一起去土耳其坐热气球吧！
	</p>
	<div class="thirdexpress">
		<img src="img/forum.png" alt="height:4.7rem" ui-sref="tripdetail">		
	</div>	
</div>
<div class="thirdforum">
	<div class="formInHead">
		<div>
			<img src="img/headimg.png" alt="头像">
		</div>
		<div class="forumName">
			<p>Jack</p>
			<p>5分钟前</p>
		</div>
		<div class="thirdPer">
			<p ng-click="addcolection()">关注</p>
		</div>
	</div>
	<p class="clear">
		一起去土耳其坐热气球吧！
	</p>
	<div class="thirdexpress">
		<img src="img/forum.png" alt="height:4.7rem" ui-sref="tripdetail">		
	</div>	
</div>

<p class="footbar"></p>
</ion-scroll>
