<ion-scroll ng-controller="first" zooming="true" direction="y" style=" height: 100%;" class="fourth has-header content has-footer  maincontent">
<div class="headimg" style="margin-top: 44px;">
	<img src="img/head1.png" alt="titleimg" ui-sref="tripdetail">
</div>
<p class="firstmiddle">
	<span class="icon ion-chatbox-working chatbubble"></span>
	<span>点评我去过的地方，帮助更多人...</span>
	<span class="icon ion-chevron-right"></span>
</p>
<div class="firstsuggest" ui-sref="placedetail">
	<img src="img/suggest.png" alt="推荐景点" />
</div>
<p class="firstsuggestmore">更多相关</p>
<ul class="firstul">
	<li ui-sref="placedetail">
		<img src="img/aerbes.png" alt="推荐">阿尔卑斯
	</li>
	<li ui-sref="placedetail">
		<img src="img/aerbes.png" alt="推荐">阿尔卑斯
	</li>
	<li ui-sref="placedetail">
		<img src="img/aerbes.png" alt="推荐">阿尔卑斯
	</li>
	<li ui-sref="placedetail">
		<img src="img/aerbes.png" alt="推荐">阿尔卑斯
	</li>
	<li ui-sref="placedetail">
		<img src="img/aerbes.png" alt="推荐">阿尔卑斯
	</li>
	<li ui-sref="placedetail">
		<img src="img/aerbes.png" alt="推荐">阿尔卑斯
	</li>
	<li ui-sref="placedetail">
		<img src="img/aerbes.png" alt="推荐">阿尔卑斯
	</li>
	<li ui-sref="placedetail">
		<img src="img/aerbes.png" alt="推荐">阿尔卑斯
	</li>
	<li ui-sref="placedetail">
		<img src="img/aerbes.png" alt="推荐">阿尔卑斯
	</li>
	<li ui-sref="placedetail">
		<img src="img/aerbes.png" alt="推荐">阿尔卑斯
	</li>
</ul>
<p class="footbar"></p>
</ion-scroll>