<ion-scroll ng-controller="five" zooming="true" direction="y" style=" height: 100%;" class="content has-footer has-header maincontent otherpage">
<div class="list">
    <div>
      <span ng-click="goselect('head')" class="item  item-icon-right">
        <p>头像</p>
        <i class="icon ion-ios-arrow-right"></i>
      </span>
      <span ng-click="goselect('name')" class="item item-icon-right">
        <p>昵称</p>
        <i class="icon ion-ios-arrow-right"></i>
      </span>
      <span ng-click="goselect('sex')" class="item item-icon-right">
        <p>性别</p>
        <i class="icon ion-ios-arrow-right"></i>
      </span>
      <span ng-click="goselect('age')" class="item item-icon-right">
        <p>年龄</p>
        <i class="icon ion-ios-arrow-right"></i>
      </span>
      <span ng-click="goselect('birthday')" class="item item-icon-right">
        <p>生日</p>
        <i class="icon ion-ios-arrow-right"></i>
      </span>
      <span ng-click="goselect('hobby')" class="item item-icon-right">
        <p>爱好</p>
        <i class="icon ion-ios-arrow-right"></i>
      </span>
      <span ng-click="goselect('data')" class="item item-icon-right">
        <p>提醒时间</p>
        <i class="icon ion-ios-arrow-right"></i>
      </span>
  </div>
</div>
      
<p class="footbar"></p>
</ion-scroll>
