<ion-scroll ng-controller="fourth" zooming="true" direction="y" style=" height: 100%;" class="fourth has-header content has-footer  maincontent otherpage">
	<div class="login" ui-sref="fifth">
		<div class="fourthhead">
			<div>
				
			</div>
			<div>
				<p class="name">张三</p>
				<p class="level">lv1</p>
			</div>
			<div>
				<p>个性设置&nbsp;&nbsp;&nbsp;<span style="font-size:0.6rem" class="icon ion-ios-arrow-right"></span></p>
			</div>
		</div>
		<div>
			<p>
				<span></span>
				<span></span>
			</p>
		</div>
		<p></p>
	</div>
	<div class="fourthhr clear"></div>
	<div class="list">
        <a class="item  item-icon-right" href="#" ui-sref="six">
          <p>我收藏的活动</p>
          <i class="icon ion-ios-arrow-right"></i>
        </a>
        <a class="item item-icon-right" href="#"  ui-sref="seven">
          <p>我收藏的地点</p>
          <i class="icon ion-ios-arrow-right"></i>
        </a>
        <div class="fourthhr"></div>
        <a class="item item-icon-right" href="#"  ui-sref="eight">
          <p>我参与的活动</p>
          <i class="icon ion-ios-arrow-right"></i>
        </a>
        <a class="item item-icon-right" href="#"  ui-sref="nine">
          <p>我的行程</p>
          <i class="icon ion-ios-arrow-right"></i>
        </a>
        <a class="item item-icon-right"  href="tel:15210203452">
          <p>客服中心</p>
          <i class="icon ion-ios-arrow-right"></i>
        </a>
        
    </div>
</ion-scroll>