<ion-scroll ng-controller="nine" zooming="true" direction="y" style=" height: 100%;" class="content has-footer has-header maincontent otherpage">
<div class="secondintro claer" ui-sref="tripdetail">
	<p><span class="tripday">2天</span></p>
	<div class="secondsuggimg">
		<img src="img/secondsuggest.png" alt="sugget trip">
	</div>
	<p class="seSuggePla">台北大楼一日游</p>
	<p class="seSuggePlane"><span class="icon ion-android-pin">搁马寺>局吗源头>石浦</span><span class="icon ion-ios-eye">561</span></p>
</div>
<div class="secondintro claer" ui-sref="tripdetail">
	<p><span class="tripday">2天</span></p>
	<div class="secondsuggimg">
		<img src="img/secondsuggest.png" alt="sugget trip">
	</div>
	<p class="seSuggePla">台北大楼一日游</p>
	<p class="seSuggePlane"><span class="icon ion-android-pin">搁马寺>局吗源头>石浦</span><span class="icon ion-ios-eye">561</span></p>
</div>
<div class="secondintro claer" ui-sref="tripdetail">
	<p><span class="tripday">2天</span></p>
	<div class="secondsuggimg">
		<img src="img/secondsuggest.png" alt="sugget trip">
	</div>
	<p class="seSuggePla">台北大楼一日游</p>
	<p class="seSuggePlane"><span class="icon ion-android-pin">搁马寺>局吗源头>石浦</span><span class="icon ion-ios-eye">561</span></p>
</div>
<div class="secondintro claer" ui-sref="tripdetail">
	<p><span class="tripday">2天</span></p>
	<div class="secondsuggimg">
		<img src="img/secondsuggest.png" alt="sugget trip">
	</div>
	<p class="seSuggePla">台北大楼一日游</p>
	<p class="seSuggePlane"><span class="icon ion-android-pin">搁马寺>局吗源头>石浦</span><span class="icon ion-ios-eye">561</span></p>
</div>
<div class="secondintro claer" ui-sref="tripdetail">
	<p><span class="tripday">2天</span></p>
	<div class="secondsuggimg">
		<img src="img/secondsuggest.png" alt="sugget trip">
	</div>
	<p class="seSuggePla">台北大楼一日游</p>
	<p class="seSuggePlane"><span class="icon ion-android-pin">搁马寺>局吗源头>石浦</span><span class="icon ion-ios-eye">561</span></p>
</div>
<div class="secondintro claer" ui-sref="tripdetail">
	<p><span class="tripday">2天</span></p>
	<div class="secondsuggimg">
		<img src="img/secondsuggest.png" alt="sugget trip">
	</div>
	<p class="seSuggePla">台北大楼一日游</p>
	<p class="seSuggePlane"><span class="icon ion-android-pin">搁马寺>局吗源头>石浦</span><span class="icon ion-ios-eye">561</span></p>
</div>
<p class="footbar"></p>
</ion-scroll>
