<ion-scroll ng-controller="placedetail" zooming="true" direction="y" style=" height: 100%;" class="fourth has-header content maincontent">
<p style="height: 42px;"></p>
<div class="detailhead">
	<p><a class="icon ion-ios-star-outline" ng-click="collectionplace()"></a></p>
	<img src="img/secondsuggest.png" alt="">
</div>
<p class="placename border">台北101大厦 </p>
<p class="icon ion-location border borderbottom">台北省台北市101大厦</p>
<p class="icon ion-ios-clock-outline border borderbottom">开放时间：10：00-20：30（周一至周五）</p>
<p class="icon ion-map border borderbottom">景点介绍</p>
<p class="border detailintr">亮点</p>
<p class="border">啊大苏打啊大苏打啊大苏打啊大苏打啊大苏打啊大苏打啊大苏打啊大苏打啊大苏打啊大苏打啊大苏打啊大苏打啊大苏打啊大苏打啊大苏打啊大苏打啊大苏打啊大苏打啊大苏打啊大苏打啊大苏打啊大苏打</p>
<p class="border detailintr">简介</p>
<div class="border">
	<p>啊大苏打啊大苏打啊大苏打啊大苏打啊大苏打啊大苏打啊大苏打啊大苏打啊大苏打啊大苏打啊大苏打啊大苏打啊大苏打啊大苏打啊大苏打啊大苏打啊大苏打啊大苏打啊大苏打啊大苏打啊大苏打啊大苏打啊大苏打啊大苏打啊大苏打啊大苏打啊大苏打啊大苏打啊大苏打啊大苏打啊大苏打啊大苏打啊大苏打啊大苏打啊大苏打啊大苏打啊大苏打啊大苏打啊大苏打啊大苏打啊大苏打啊大苏打啊大苏打啊大苏打啊大苏打啊大苏打啊大苏打啊大苏打啊大苏打啊大苏打啊大苏打啊大苏打啊大苏打啊大苏打</p>
</div>
<p class="footbar"></p>
</ion-scroll>