<ion-scroll ng-controller="searchplace" zooming="true" direction="y" style=" height: 100%;padding-top: 44px;" class="has-header has-footer"> 
    <div class="list second">
    <!--search结果-->
        <a class="item item-thumbnail-left item-icon-right" href="#" ui-sref="placedetail">
          <img src="img/place.jpg">
          <h2>三亚</h2>
          <p>千古情、南山寺、天涯海角</p>
          <p class="price">推荐游玩时间5-10天</p>
          <i class="icon ion-ios-arrow-right"></i>
        </a>
        <a class="item item-thumbnail-left item-icon-right" href="#" ui-sref="placedetail">
          <img src="img/place.jpg">
          <h2>三亚</h2>
          <p>千古情、南山寺、天涯海角</p>
          <p class="price">推荐游玩时间5-10天</p>
          <i class="icon ion-ios-arrow-right"></i>
        </a>
        <a class="item item-thumbnail-left item-icon-right" href="#" ui-sref="placedetail">
          <img src="img/place.jpg">
          <h2>三亚</h2>
          <p>千古情、南山寺、天涯海角</p>
          <p class="price">推荐游玩时间5-10天</p>
          <i class="icon ion-ios-arrow-right"></i>
        </a>
        <a class="item item-thumbnail-left item-icon-right" href="#" ui-sref="placedetail">
          <img src="img/place.jpg">
          <h2>三亚</h2>
          <p>千古情、南山寺、天涯海角</p>
          <p class="price">推荐游玩时间5-10天</p>
          <i class="icon ion-ios-arrow-right"></i>
        </a>
        <a class="item item-thumbnail-left item-icon-right" href="#" ui-sref="placedetail">
          <img src="img/place.jpg">
          <h2>三亚</h2>
          <p>千古情、南山寺、天涯海角</p>
          <p class="price">推荐游玩时间5-10天</p>
          <i class="icon ion-ios-arrow-right"></i>
        </a>
        <a class="item item-thumbnail-left item-icon-right" href="#" ui-sref="placedetail">
          <img src="img/place.jpg">
          <h2>三亚</h2>
          <p>千古情、南山寺、天涯海角</p>
          <p class="price">推荐游玩时间5-10天</p>
          <i class="icon ion-ios-arrow-right"></i>
        </a>
        <a class="item item-thumbnail-left item-icon-right" href="#" ui-sref="placedetail">
          <img src="img/place.jpg">
          <h2>三亚</h2>
          <p>千古情、南山寺、天涯海角</p>
          <p class="price">推荐游玩时间5-10天</p>
          <i class="icon ion-ios-arrow-right"></i>
        </a>
        <a class="item item-thumbnail-left item-icon-right" href="#" ui-sref="placedetail">
          <img src="img/place.jpg">
          <h2>三亚</h2>
          <p>千古情、南山寺、天涯海角</p>
          <p class="price">推荐游玩时间5-10天</p>
          <i class="icon ion-ios-arrow-right"></i>
        </a>
        <a class="item item-thumbnail-left item-icon-right" href="#" ui-sref="placedetail">
          <img src="img/place.jpg">
          <h2>三亚</h2>
          <p>千古情、南山寺、天涯海角</p>
          <p class="price">推荐游玩时间5-10天</p>
          <i class="icon ion-ios-arrow-right"></i>
        </a>
        <a class="item item-thumbnail-left item-icon-right" href="#" ui-sref="placedetail">
          <img src="img/place.jpg">
          <h2>三亚</h2>
          <p>千古情、南山寺、天涯海角</p>
          <p class="price">推荐游玩时间5-10天</p>
          <i class="icon ion-ios-arrow-right"></i>
        </a>
    </div>
    <p class="footbar"></p>
</ion-scroll>