<ion-scroll ng-controller="five" zooming="true" direction="y" style=" height: 100%;" class="content has-footer has-header maincontent otherpage">
<div class="seven" ui-sref="collectionplace">
	<img src="img/place.jpg" alt="推荐景点" />
	<p class="sevenp">大亚湾</p>
	<p class="sevenps">冬天度假胜地,水上天堂……</p>
</div>
<div class="seven" ui-sref="collectionplace">
	<img src="img/place.jpg" alt="推荐景点" />
	<p class="sevenp">大亚湾</p>
	<p class="sevenps">冬天度假胜地,水上天堂……</p>
</div>
<div class="seven" ui-sref="collectionplace">
	<img src="img/place.jpg" alt="推荐景点" />
	<p class="sevenp">大亚湾</p>
	<p class="sevenps">冬天度假胜地,水上天堂……</p>
</div>
<div class="seven" ui-sref="collectionplace">
	<img src="img/place.jpg" alt="推荐景点" />
	<p class="sevenp">大亚湾</p>
	<p class="sevenps">冬天度假胜地,水上天堂……</p>
</div>
<div class="seven" ui-sref="collectionplace">
	<img src="img/place.jpg" alt="推荐景点" />
	<p class="sevenp">大亚湾</p>
	<p class="sevenps">冬天度假胜地,水上天堂……</p>
</div>
<div class="seven" ui-sref="collectionplace">
	<img src="img/place.jpg" alt="推荐景点" />
	<p class="sevenp">大亚湾</p>
	<p class="sevenps">冬天度假胜地,水上天堂……</p>
</div>
<div class="seven" ui-sref="collectionplace">
	<img src="img/place.jpg" alt="推荐景点" />
	<p class="sevenp">大亚湾</p>
	<p class="sevenps">冬天度假胜地,水上天堂……</p>
</div>
<p class="footbar"></p>
</ion-scroll>
