<ion-scroll ng-controller="tripdetail" zooming="true" direction="y" style=" height: 100%;" class="fourth has-header content maincontent trip">
<h3 class="triph triph1">上午</h1>
<h5 class="triph triph2"><i>圆明园</i></h2>
<div class="tripinfo">
	<p>备注：圆明园又称圆明三园，是清朝一座大型皇家宫苑，它坐落在北京西郊，与颐和园毗邻，由圆明园、长春园和万春园组成，所以也叫圆明三园。</p>
</div>
<div class="placemain">
	<div>
		<p class="placep placep1">
			<i class="icon ion-map placep3"></i>
		</p>
		<p class="placep placep2">
			西洋楼景区
		</p>
		<img src="img/timg.jpg" class="tripimg">
		<div class="placeinforin">
			<p>西洋楼的主体，其实就是人工喷泉，时称“水法”。特点是数量多、气势大、构思奇恃。主要形成谐奇趣、海晏堂和大水法三处大型喷泉群。</p>
		</div>
	</div>
</div>
<div class="placemain">
	<div>
		<p class="placep placep1">
			<i class="icon ion-map placep3"></i>
		</p>
		<p class="placep placep2">
			西洋楼景区
		</p>
		<img src="img/timg.jpg" class="tripimg">
		<div class="placeinforin">
			<p>西洋楼的主体，其实就是人工喷泉，时称“水法”。特点是数量多、气势大、构思奇恃。主要形成谐奇趣、海晏堂和大水法三处大型喷泉群。</p>
		</div>
	</div>
</div>

<h3 class="triph triph1">中午</h1>
<h5 class="triph triph2"><i>簋街</i></h2>
<div class="tripinfo">
	<p>备注：簋（Guǐ）街位于东直门内，二环路东直门立交桥西段，西到交道口东大街东端。这条街在今天也是京城美食集中展示的一个绝好场所。</p>
</div>
<div class="placemain">
	<div>
		<p class="placep placep1">
			<i class="icon ion-map placep3"></i>
		</p>
		<p class="placep placep2">
			簋街
		</p>
		<img src="img/guijie.jpg" class="tripimg">
		<div class="placeinforin">
			<p>簋指的是中国古代一种圆口两耳的食物容器，一条街以簋命名，自然是个吃饭的去处。麻辣小龙虾、麻辣肉蟹等辣味菜系是簋街的主打菜系。那麻麻辣辣的香味，吸引着不少回头客。</p>
		</div>
	</div>
</div>

<h3 class="triph triph1">下午</h1>
<h5 class="triph triph2"><i>798艺术区</i></h2>
<div class="tripinfo">
	<p>备注：798艺术区（ArtDist）位于北京朝阳区酒仙桥街道大山子地区，故又称大山子艺术区（英文简称DAD－Dashanzi Art District），原为原国营798厂等电子工业的老厂区所在地。</p>
</div>
<div class="placemain">
	<div>
		<p class="placep placep1">
			<i class="icon ion-map placep3"></i>
		</p>
		<p class="placep placep2">
			798
		</p>
		<img src="img/798.jpg" class="tripimg">
		<div class="placeinforin">
			<p>798除了指数字以外，一般指北京798艺术区，或称大山子艺术区、大山子798厂艺术区等，艺术区的名字是由北京国营电子工业老厂区的名称沿用而来。在798艺术区的发展过程中形成了798共识，因此，798也指这一艺术区引申出的一种文化概念，以及LOFT这种时尚的居住与工作方式，简称798生活方式或798方式。</p>
		</div>
	</div>
</div>

<p class="footbar"></p>
</ion-scroll>